snippet test test environment
	fun ${1:name}: ${2: param} {
		${3: code}
	}

snippet theo theo enviroment
	\theobox{Satz: ${1:theorem}}
snippet exp exp enviroment
	\examplebox{Beispiel: ${1:example}}
snippet def def enviroment
	\defbox{${1:definition}}
